@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-inter bg-slate-50 text-slate-950 text-sm;
}

body {
  @apply max-w-screen-xl mx-auto px-5;
}

h1 {
  @apply text-3xl font-medium text-slate-950;
}

h1.alt {
  @apply text-2xl text-slate-950;
}

h2 {
  @apply text-xl font-semibold;
}

.input {
  @apply px-3 rounded-[6px] border border-slate-300 bg-slate-100 h-8 placeholder:text-slate-500 outline-none focus:border-slate-400;
}

textarea.input {
  @apply h-auto max-h-28 py-1.5 resize-y min-h-8;
}

.btn {
  @apply px-[16px] disabled:pointer-events-none disabled:opacity-60 rounded-[6px] h-[32px] bg-slate-950 text-slate-200 font-semibold hover:bg-slate-900 active:scale-95;
}

.btn.danger {
  @apply bg-red-600 text-white hover:bg-red-500;
}

p {
  @apply text-slate-600 text-base;
}

.prose p {
  @apply text-slate-900;
}

header .link {
  @apply font-medium flex-shrink-0 text-slate-800 underline active:scale-95 decoration-transparent hover:decoration-slate-600;
}

input,
button {
  outline: none;
}

label.field {
  @apply flex flex-col mb-4;
}

label.field span {
  @apply text-slate-600 text-sm mb-0.5;
}

.action-btn {
  @apply bg-slate-200 disabled:opacity-50 text-slate-900 disabled:pointer-events-none hover:bg-slate-300 active:scale-95 px-1.5 py-0.5 rounded-md uppercase text-xs font-medium;
}
